<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <% for (let i=0; i < DataUsers.length; i++) { %>
        <h2>
            <%= DataUsers[i].ID %> ____
                <%= DataUsers[i].Name %> ____
                    <%= DataUsers[i].Age %> ____
                        <%= DataUsers[i].Email %> ____
                            <%= DataUsers[i].Phone %>
        </h2>
        <form action="/deleteUser" method="POST">
            <input type="text" hidden value="<%= DataUsers[i].ID %>" name="UserID" />
            <button type="submit">Del</button>
        </form>
        <% } %>
            <form action="/newUser" method="post">
                <label for="Name">Name:</label><br>
                <input type="text" id="Name" name="Name" value="John"><br>
                <label for="Age">Age:</label><br>
                <input type="number" id="Age" name="Age" value="10"><br>
                <label for="Email">Email</label><br>
                <input type="text" id="Email" name="Email" value="10"><br>
                <label for="Phone">Phone:</label><br>
                <input type="number" id="Phone" name="Phone" value="10"><br>
                <br>
                <input type="submit" value="Submit">
            </form>
</body>

</html>